<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="awvillager.ui.util">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="[%d{HH:mm:ss.SSS}] [ %t:%-5level] [%logger{36}]: %msg%n"/>
    </Console>
    <JTextAreaAppender name="JTextarea" maxLines="100">
      <PatternLayout pattern="[%d{HH:mm:ss.SSS}] [ %t:%-5level] [%logger{36}]: %msg%n"/>
    </JTextAreaAppender>
  </Appenders>
  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="JTextarea"/>
    </Root>
  </Loggers>
</Configuration>